<div class="item-deal">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="item-product table border">
        <div class="product-thumb text-center">
          <a href="/admin/products">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
        </div>
        <div class="product-info">
          <span class="title10 text-uppercase">TYPE</span>
          <h3 class="title14 font-bold"><a href="/admin/products" class="link-hover">Example Product</a></h3>
          <div class="product-rate">
            <div class="product-rating">													
              <div class="inner-rating"></div>
            </div>
          </div>
          <ul class="list-inline-block product-price">
            <li>	
              <del>$96.00</del>
              <ins class="font-bold color">$48.00</ins>
            </li>
            <li><span class="sale-number bg-color white font-bold">-50%</span></li>
          </ul>
          <div class="deal-clock time-countdown" data-date="12/12/2020" data-color="#57ce74" data-bg="rgba(0,0,0,0.5)" data-width="0.03" data-text='["DAY","HOUR","MIN","SEC"]'></div>
          <div class="product-extra-link">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="item-product table border">
        <div class="product-thumb text-center">
          <a href="/admin/products">
            {% capture current %}{% cycle 5, 6, 1, 2 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
        </div>
        <div class="product-info">
          <span class="title10 text-uppercase">TYPE</span>
          <h3 class="title14 font-bold"><a href="/admin/products" class="link-hover">Example Product</a></h3>
          <div class="product-rate">
            <div class="product-rating">													
              <div class="inner-rating"></div>
            </div>
          </div>
          <ul class="list-inline-block product-price">
            <li>	
              <del>$96.00</del>
              <ins class="font-bold color">$48.00</ins>
            </li>
            <li><span class="sale-number bg-color white font-bold">-50%</span></li>
          </ul>
          <div class="deal-clock time-countdown" data-date="12/12/2020" data-color="#57ce74" data-bg="rgba(0,0,0,0.5)" data-width="0.03" data-text='["DAY","HOUR","MIN","SEC"]'></div>
          <div class="product-extra-link">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="item-product table border">
        <div class="product-thumb text-center">
          <a href="/admin/products">
            {% capture current %}{% cycle 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
        </div>
        <div class="product-info">
          <span class="title10 text-uppercase">TYPE</span>
          <h3 class="title14 font-bold"><a href="/admin/products" class="link-hover">Example Product</a></h3>
          <div class="product-rate">
            <div class="product-rating">													
              <div class="inner-rating"></div>
            </div>
          </div>
          <ul class="list-inline-block product-price">
            <li>	
              <del>$96.00</del>
              <ins class="font-bold color">$48.00</ins>
            </li>
            <li><span class="sale-number bg-color white font-bold">-50%</span></li>
          </ul>
          <div class="deal-clock time-countdown" data-date="12/12/2020" data-color="#57ce74" data-bg="rgba(0,0,0,0.5)" data-width="0.03" data-text='["DAY","HOUR","MIN","SEC"]'></div>
          <div class="product-extra-link">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="item-product table border">
        <div class="product-thumb text-center">
          <a href="/admin/products">
            {% capture current %}{% cycle 2, 1, 3, 5 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
        </div>
        <div class="product-info">
          <span class="title10 text-uppercase">TYPE</span>
          <h3 class="title14 font-bold"><a href="/admin/products" class="link-hover">Example Product</a></h3>
          <div class="product-rate">
            <div class="product-rating">													
              <div class="inner-rating"></div>
            </div>
          </div>
          <ul class="list-inline-block product-price">
            <li>	
              <del>$96.00</del>
              <ins class="font-bold color">$48.00</ins>
            </li>
            <li><span class="sale-number bg-color white font-bold">-50%</span></li>
          </ul>
          <div class="deal-clock time-countdown" data-date="12/12/2020" data-color="#57ce74" data-bg="rgba(0,0,0,0.5)" data-width="0.03" data-text='["DAY","HOUR","MIN","SEC"]'></div>
          <div class="product-extra-link">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>