<div id="tab1" class="tab-pane fade in active " role="tabpanel">
  <div class="row">
    {% for i in (1..8) %}
    <div class="col-md-3 col-sm-4 col-xs-6">
      {% include 'empty-product-item-grid' %}
    </div>
    {% endfor %}
  </div>
</div>
<div id="tab2" class="tab-pane fade in" role="tabpanel">
  <div class="row">
    {% for i in (1..8) %}
    <div class="col-md-3 col-sm-4 col-xs-6">
      {% include 'empty-product-item-grid' %}
    </div>
    {% endfor %}
  </div>
</div>